<li id="article-<%= article.id %>">
  <span class="utilisateur"><%= link_to article.utilisateur.nom, article.utilisateur %></span>
  <span class="titre"><%= link_to article.titre %></span>
  <span class="timestamp">Posté il y a <%= time_ago_in_words(article.created_at) %>.</span>
</li>